/**
* 330C2F
* 7B287D
* 7067CF
* B7C0EE
* E4FDE1
*/

html,
body,
#root,
.App {
	height: 100%;
}

.navigation-bar {
	height: 60px;
}

.cloudobs-navbar-version {
	font-size: 0.75rem;
	margin-inline-start: 0.25rem;
}

.content-panel {
	/* height: calc(100% - 60px); */
	padding: 0.5rem;
	max-width: 870px;
}

.content-panel__actions {
	display: flex;
	align-items: center;
}

.content-panel__actions {
	margin: 1rem 0;
}

.content-panel__actions-end {
	margin-inline-start: auto;
}

i.bi:not(.bi-no-margin) {
	margin-right: 0.4rem;
}

.navbar {
	border-style: none none solid none;
}

.navbar .nav-link.active {
	font-weight: normal;
}

.server-url-screen {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	margin: auto;
	justify-content: center;
	max-width: 500px;
}

.stream-settings {
	padding: 0.5rem;
}

.nav-link {
	cursor: pointer;
	padding: 0;
	display: flex;
	align-items: center;
}

.nav-item:not(:first-child) {
	margin-left: 0.25rem;
}

.nav-link.active {
	font-weight: bold;
}

.logs__message {
	margin-bottom: 0.5rem;
	cursor: pointer;
}

.logs__message:hover {
	background-color: #f3f3f3;
}

.logs__message-timestamp {
	opacity: 0.9;
	font-size: 0.8rem;
}

.stream-settings-heading {
	font-weight: bold;
	background-color: rgb(255, 237, 203);
	margin: -0.5rem -0.5rem 0.75rem -0.5rem;
	padding: 0.5rem;
}

.selected-languages {
	display: flex;
}

.selected-language {
	border: 1px solid #eee;
	display: flex;
	align-items: center;
}

.selected-language:not(:first-child) {
	margin-left: 0.5rem;
}

.selected-language-name {
	padding: 0 0.5rem;
	cursor: default;
}

.nav-link-text {
	padding: 0.25rem 0.5rem;
}

.selected-language-delete {
	transition: all 0.2s;
	padding: 0 0.5rem;
}
.selected-language-delete:hover {
	box-shadow: 1px 1px 3px #cdcaca;
}
.selected-language-delete:focus {
	box-shadow: unset;
}

.language-settings-form {
	display: none;
}

.language-settings-form.active {
	display: block;
}

.show-advanced-settings {
	color: #585858;
}

.server-url-protocol {
	width: 110px !important;
	flex: unset !important;
}

.server-url-port {
	width: 100px !important;
	flex: unset !important;
}

.copy-from-row {
	max-width: 300px;
}

.status-bar {
	padding: 0.25rem 0.5rem;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 60px;
	display: flex;
	transform: translateY(60px);
	transition: all 0.3s ease-in-out;
	white-space: normal;
	overflow: auto;
	cursor: pointer;
}

.status-bar.show {
	transform: translateY(0);
}

.status-bar.error {
	background-color: rgb(255, 142, 142);
	color: white;
}
.status-bar.success {
	background-color: rgb(133, 248, 133);
}

.stream-settings-video-list-item {
	display: flex;
}

.stream-settings-video-list-item-input {
	border: unset;
	border-radius: unset;
}

.buttons {
	display: flex;
	flex-direction: column;
	margin-top: 0.5rem;
}

.buttons button {
	margin-right: 0.5rem;
}

.Language {
	display: flex;
	flex-direction: column;
	border: 1px solid #eee;
	box-shadow: 2px 1px 7px #ccc;
	margin-bottom: 0.75rem;
	padding: 0.5rem;
	padding-bottom: 0;
}

.language-header {
	display: flex;
	align-items: center;
	padding: 0.5rem;
	background-color: #f3f3f3;
	margin: -0.5rem -0.5rem 0;
	transition: all 0.6s;
}

.language-name-short {
	font-weight: bold;
}

.language-name-ip {
	cursor: pointer;
}

.language-body {
	height: 240px;
	overflow: hidden;
	transition: all 0.3s;
	padding-bottom: 0.5rem;
}

.Language.collapsed .language-body {
	height: 0px !important;
	padding: 0 !important;
}

.language-stream-settings {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}

.language-stream-settings-readonly {
	display: flex;
	align-items: center;
}

.language-stream-url {
	font-size: 0.8rem;
}

.Language--live .language-header {
	background-color: #00ffbf;
}

.RangeInput {
	display: flex;
	flex-direction: column;
}

.language-settings-block {
	display: flex;
}

.language-settings {
	/* margin-top: 0.75rem; */
	flex: 2;
}

.language-extra-settings {
	flex: 1;
}

.language-settings .RangeInput:not(:first-child) {
	margin-top: 0.5rem;
}

.bi.bi-arrow-clockwise.spin:before {
	animation: spin1 2s linear infinite;
}

.video-schedule-list .stream-settings-video-list-item {
	border: 1px solid #ccc;
	margin-top: -1px;
	padding: 0.25rem 0;
	align-items: center;
}

.sync-all-cursor-help {
	cursor: help;
}

.stream-active-toggle,
.stream-active-toggle input {
	cursor: pointer;
}

.language-block-collapse-btn {
	transition: all 0.3s;
	border-radius: 6px;
}
.language-block-collapse-btn:hover {
	background-color: #f8f8f8;
}
.language-block-collapse-btn:focus {
	box-shadow: none;
}

.stream-settings-video-list-head {
	font-size: 0.8rem;
}
